header {
  background-color: cadetblue !important;
  .navbar-default {
    background-color: transparent;
  }
  .logo {
    display: block;
    text-align: center;
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
}
