.container {
  margin-top: 40px;

  #mainRow {
    h3 {
      margin-bottom: 30px;
    }

    button {
      margin: 10px 0;
    }
  }

  #selectedQuizRow {
    display: none;

    #questionsRow {
      display: none;

      button {
        margin-bottom: 10px;
      }

      h4 {
        text-align: center;
        width: 50%;
        background-color: cadetblue;
        margin: 40px auto;
        padding: 20px;
        border-radius: 20px;
      }

    }
  }
}
